

        <div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<header>
                        <h1 style="font-size: 50px">Welcome to My First Page</h1>
                      </header>
                      <section>
                        <h2>Introduction?</h2>
                        <p> <strong>Hello! My name is Dipendra Adhikari .Iam  a person who loves football, sports, food, hiking, and nature. I  come from Nepal, specifically Pokhara, which is a beautiful city known for its stunning scenery and adventure sports. Currently, I am studying IT at Seneca College in Canada, which is a fantastic place to gain knowledge and skills in the field of information technology. Iam  someone who enjoys being active, exploring the outdoors, and appreciating the natural beauty of the world around us. Overall, I am  passionate and driven individual with a love for adventure and learning.</strong></p>
                      </section>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		